body {
}

#navbar {
	padding: 15px;
	text-align: center;
	background-color: #ea65a1
}

#heading {
	font-family: Arial, Verdana, sans-serif;
	font-size: 200%;
	color: #ccfd9a;
}

#index {
	padding: 15px;
	font-family: Georgia, Times, serif;
	font-size: 150%;
	color: #b9c7cd;
}

#contactlist {
	width: 65%;
	float: left;
}

a.alpha {
	text-decoration: none;
	background: none;
	border: none;
	padding: 0;
	font-family: inherit;
	font-size: inherit;
	font-weight: bold;
	color: #ccfd9a;
}

td.alternate {
	background-color: #d0d0d0;
}

td.blank {
	width: 40px;
}

tr.spacer {
	height: 20px;
}

table {
	width: 100%;
	border-spacing: 0px 0px;
}

th {
	background-color: #a0a0a0;
	text-align: left;
}

#selectedcontactarea {
	width: 30%;
	float: right;
	padding: 40px  0px  20px 0px;
	background-color: #993399;
}

#selectedcontact {
	text-align: center;
	background-color: #a0a0a0;
	font-family: Georgia, Times, serif;
	color: #ccfd9a;
}